@import "tailwindcss";
.custom-cursor {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24'><circle cx='12' cy='12' r='6' fill='%23ADD8E6'/></svg>") 12 12, pointer;
}

